.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
}

.itemContainer {
  height: 320px;
  width: 240px;
  border-radius: 10px;
  background-color: white;
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  align-items: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.07);
  position: relative;
}

.desc {
  font-size: 0.85rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.priceWrapper {
  position: absolute;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.error {
  margin-top: 200px;
  font-size: 3rem;
}

.loading {
  margin-top: 200px;
  height: 100vh;
}
